<div class="container">
<p id="notice"><%= notice %></p>

<h1><%= image_tag 'present.png' %> Presentations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Presentation Title</th>
      <th>Corresponding Lesson</th>
      <th>Date</th>
      <th>Week</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @presentations.each do |presentation| %>
      <tr>
        <td><%= link_to presentation.name, presentation %></td>
      <% for lesson in presentation.lessons %>

        <td><%= link_to lesson.name, lesson %></td>
        <td><%= lesson.date %></td>
        <td><%= lesson.week %></td>

      <% end %>
        <td><%= link_to 'Show', presentation %></td>
      <% if current_user.try(:admin?) %>

        <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
        <td><%= link_to 'Destroy', presentation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.try(:admin?) %>
<%= link_to 'New Presentation', new_presentation_path %>
<% end %>
</div>