<%= form_for(@submission) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= render "#{@submission.current_step}_step", :f => f %>
<%= f.submit "Back", class: "btn btn-primary", :name => "back_button" unless @submission.first_step? %>
<%= f.submit "Continue", class: "btn btn-primary" unless @submission.last_step? %> 
<%= f.submit "Submit Assignment", class: "btn btn-primary" unless @submission.first_step? %> 
<% end %>

