<div class="container">
<div id="users">


  		<div class="list">
			<% @usergrades.each do |user| %>
				
				<div class="table-responsive usergrades">
				<h1 class="name student"><strong><%= user.name %> <%=user.last_name %></strong></h1>

					<table class="table table-striped table-hover table-condensed">
							
							<tr>
							<% for submission in user.submissions %>

				              <td width="30%"><%= submission.assignment_name %>:</td>
				              <td width="70%"><%= submission.score %> / <% for assignment in submission.assignments %> <%= assignment.score %></td>
				             </tr>		    
				             <% end %>
							<% end %>
				     
				          	 <td><strong>Total Score:<strong></td> 
				          	 <td><strong><%= user.submissions.sum(:score) %> / <%= @assignments.sum(:score) %> or <%= number_to_percentage user.submissions.sum(:score).to_f * 100 / @assignments.sum(:score) %></strong></td>
				     </table>
			</div>
		 <% end %>
		</div>
</div>
</div>
