<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="second-form-group">
    <%= f.label :due %><br>
    <%= f.date_select :due, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", rows: "6" %>
  </div>
  <div class="second-form-group">
    <h2>Deliverables</h2>
        <%= f.fields_for :deliverables do |builder| %>
        <%= render 'deliverable_fields', f:builder %>
          <% end %>
      <%= link_to_add_fields "Add Deliverable", f, :deliverables, class: "btn btn-mini btn-info add-link" %>
  </div>

  <div class="third-form-group">
  <h2>Grading Criteria</h2>
      <%= f.fields_for :rubrics do |builder| %>
        <%= render 'rubric_fields', f:builder %>
      <% end %>

      <%= link_to_add_fields "Add Criteria", f, :rubrics, class: "btn btn-mini btn-info" %>
  </div>
  <div class="second-form-group">
  <h2 style = "text-align: left">What lessons is this project related to?</h2>
        <%= hidden_field_tag "project[lesson_ids][]", nil %>
        <% Lesson.all.each do |lesson| %>
          <%= check_box_tag "project[lesson_ids][]", lesson.id, @project.lesson_ids.include?(lesson.id), id: dom_id(lesson) %>
          <%= label_tag dom_id(lesson), lesson.name %> | <%= lesson.date %>
          <br />

        <% end %>
    </div>

  
  <div class="actions">
    <%= f.submit class: "btn btn-green form-control" %>
  </div>
<% end %>