<footer>
	<div class="content-container">
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<h2>Course Info</h2>
			<ul>
				<li>Office Hours: M/W 12:00-1:00 or by appointment</li>
				<li>Office: AudB316</li>
				<li>Contact: chris.lam at unt dot edu</li>
			</ul>

		</div>
		<div class="col-md-3">
			<h2>Site Map</h2>
			<ul>
				<li><%= link_to "Schedule", lessons_path %></li>
				<li><%= link_to "Projects", projects_path %></li>
				<li><%= link_to "About", abouts_path %></li>
				<li><%= link_to "Policies", pages_policies_path %></li>
				<li><%= link_to "Discussion Board", posts_path %></li>

			</ul>
		</div>
		<div class="col-md-4">
			<h2>Social</h2>
			<ul>
				<li>Twitter:@doctor_lam</li>
				<li>Hashtag: #tecm5290</li>
			</ul>
		</div>
		
	</div>
	</div>
</footer>